*.txt
!requirements.txt
venv
set_env.prod.sh
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pid
*.egg
*.egg-info
*.dist-info
*.whl
*.coverage
*.mypy_cache
*.pytest_cache
*.vscode
.idea
*.swp
*.swo
*.bak
*.orig
*.tmp
*.DS_Store
*.env
*.venv